<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Layout</title>
        <link rel="stylesheet" href="./css/estilos.css">
    </head>
    <body class="bg-blue-100 py-20">
        
        <!-- <section class="h-screen grid gap-8 auto-rows-max w-[90%] mx-auto max-w-screen-lg justify-items-center md:grid-cols-2 items-center">
            <img
                src="./assets/product_1.jpg"
                alt="product_1"
                class="aspect-square object-cover rounded-full max-w-sm w-4/5 md:rounded-none lg:rounded-full"
            >

            <article class="px-8 py-4 grid gap-8">
                <h1 class="text-3xl font-bold text-center md:text-left md:text-5xl/normal">Mi nombre es Loki, ¿Me puedo unir a tu vida?</h1>
                
                <p class="leading-10 text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda in error officiis, dicta sapiente hic! Animi fuga fugiat ratione exercitationem!</p>

                <a href="#" class="bg-blue-700 text-white text-center py-6 rounded-xl font-bold hover:scale-110 transition-transform">Adoptame</a>
            </article>

        </section> -->

        <!-- <section class="grid w-4/5 mx-auto gap-4 grid-cols-[repeat(auto-fit,minmax(300px,1fr))]"> -->
        <section class="grid w-[500px] h-[500px] mx-auto gap-4 grid-rows-[100px_100px] grid-cols-[100px_100px] border-2 border-black content-center justify-between">
            <img
                src="./assets/product_1.jpg"
                alt="product_1"
                class="h-full w-full object-cover"
            >
            <img
                src="./assets/product_1.jpg"
                alt="product_1"
                class="h-full w-full object-cover"
            >
            <img
                src="./assets/product_1.jpg"
                alt="product_1"
                class="h-full w-full object-cover"
            >
            <img
                src="./assets/product_1.jpg"
                alt="product_1"
                class="h-full w-full object-cover"
            >
        </section>

    </body>
</html>